<div class="card "><!--text-center-->
  <div class="card-header">
  <h3>  BIlling </h3>
  </div>
  <div class="card-body" style="height: 750px; padding-left: 70px; padding-right: 70px; padding-top: 150px;">

<form (ngSubmit)="onSubmit()">

<div class="table-responsive" >
  <table>
  <tr scope="row">
    <td>L.K.Drug House <br>
        Butta Near Sabji Mandi,Bareilly <br>
        Phone : 1234567890
    </td>
    <td></td>
    <td>
        <input type="text" placeholder="Name" id="customerName" /><br>
        <input type="number" placeholder="Mobile No" id="mobileNo" />
    </td>
</tr>
<tr scope="row">
    <td>Licence No : UP25545724<br>
        Email : sachin@gmail.com<br>
        GSTIN : NHGF8254863
    </td>
    <td>GST INVOICE</td>
    <td>Invoice No : {{invoiceNo}}
        Invoice Date : {{invoiceDate | date : 'dd-MM-yyyy'}}
    </td>
</tr>

</table>  

  <table class="table table-striped table-bordered">    
      <thead>    
          <tr>    
              <th>Action</th>   
              <th>S No</th>    
              <th>Product Name</th>    
              <th>Pack</th>    
              <th>Hsn Code</th>    
              <th>Batch No</th>    
              <th>EXP</th> 
              <th>Quantity</th>    
              <th>MRP</th>    
              <th>Rate</th>   
              <th>Amount</th>    
          </tr>    
      </thead>    
      <tbody>    
           <tr *ngFor="let dynamic of dynamicArray; let i = index;">    
            <td (click)="deleteRow(i)">    
              <img src="../../../../assets/images/trash.jpg" alt="Delete" width="50px; height25px;" />
            </td>   
            <td>    
              <input [(ngModel)]="dynamicArray[i].sno"   class="form-control" type="text"  
              [ngModelOptions]="{standalone:true}"  style="width: 50px;"/>    
            </td> 
            <td>    
              <input [(ngModel)]="dynamicArray[i].productName" class="form-control" type="text" 
              [ngModelOptions]="{standalone:true}" (keyup)="searchProduct(i)" list="productNameList"/>    
              <datalist id="productNameList">
                <option *ngFor="let item of productNameList" [value]="item.name">{{item.id}}</option>
              </datalist>
            </td>  
            <td>    
              <input [(ngModel)]="dynamicArray[i].pack" class="form-control" type="text" [ngModelOptions]="{standalone:true}" />    
            </td> 
              <td>    
                <input [(ngModel)]="dynamicArray[i].hsnCode" class="form-control" type="text" [ngModelOptions]="{standalone:true}" />    
              </td>    
              <td>    
                <input [(ngModel)]="dynamicArray[i].batchNo" class="form-control" type="partyName" [ngModelOptions]="{standalone:true}" />    
              </td>    
              <td>    
                <input [(ngModel)]="dynamicArray[i].experyDate" class="form-control" type="date" [ngModelOptions]="{standalone:true}"/>    
              </td> 
              <td>    
                <input [(ngModel)]="dynamicArray[i].quantity" class="form-control" type="number" 
                (keyup)="getAmount(i)" [ngModelOptions]="{standalone:true}"/>    
              </td> 
              <td>    
                <input [(ngModel)]="dynamicArray[i].mrp" class="form-control" type="number" [ngModelOptions]="{standalone:true}"/>    
              </td>    
              <td>    
                <input [(ngModel)]="dynamicArray[i].rate" class="form-control" type="number" [ngModelOptions]="{standalone:true}"/>    
              </td> 
              <td>    
                <input [(ngModel)]="dynamicArray[i].amount" class="form-control" type="number" [ngModelOptions]="{standalone:true}"/>    
              </td> 
          </tr>    
              
      </tbody>    
    </table> 
    <button type="button" class="btn btn-primary btn-sm" (click)="addRow()">Add Row</button>
  <br>
  Total Amount : <input [(ngModel)]="total" class="form-control" type="number" [ngModelOptions]="{standalone:true}"/>    
  <br>
  Total Amount : {{amountInWords}} 
</div>  
<button type="submit" class="btn btn-success ">Submit</button>
</form>

  </div>
</div>


