<div class="form-group ">
<div class="card">
    <div class="card-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" routerLink="/stock">Maintain Stock</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link active" routerLink="/stock">Home </a>
                <a class="nav-item nav-link active"  routerLink="/stock-search">Search</a>
                <a class="nav-item nav-link" routerLink="/create-invoice">Genrate Bill</a>
                <a class="nav-item nav-link " routerLink="/genrate-bill">Bill</a>
                <a class="nav-item nav-link " routerLink="/pdf-on-angular">Pdf-On-Angular</a>
              </div>
            </div>
          </nav>
    </div>
    <!-- <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div> -->
  </div>

    
</div>