<!-- <div class="form-group row"> -->
    <div class="card "><!--text-center-->
        <div class="card-header">
        <h3>  Stock Entry</h3>
        </div>
        <div class="card-body" style="height: 750px; padding-left: 70px; padding-right: 70px; padding-top: 150px;">
          <!-- <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a> -->

          <form>
            <!-- <div class="form-check">
              <label class="form-check-label" for="exampleCheck1">Edit</label>
              <input type="checkbox" class="form-check-input" id="checkBox" style="width: 25px;">
            </div> -->
            <div class="form-group row">
              <div class="col-md-3">
                <label for="exampleInputEmail1">Name</label>
                <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Name">
                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->

              </div>
              <div class="col-md-3">
                <label for="exampleInputPassword1">Batch No</label>
                <input type="text" class="form-control" id="batchNo" placeholder="Batch No">
              </div>
              <div class="col-md-3">
                <label for="exampleInputPassword1">Party Name</label>
                <input type="text" class="form-control" id="partyName" placeholder="partyName">
              </div>
              <div class="col-md-3">
                <label for="exampleInputEmail1">Quantity</label>
                <input type="number" class="form-control" id="quantity" aria-describedby="quantity" placeholder="Quantity">
                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->

              </div>
            </div>  
              <div class="form-group row">
           
                <div class="col-md-3">
                  <label for="exampleInputPassword1">Rate</label>
                  <input type="number" class="form-control" id="rate" placeholder="Rate">
                </div>
                <div class="col-md-3">
                  <label for="exampleInputPassword1">Mrp</label>
                  <input type="number" class="form-control" id="mrp" placeholder="Mrp">
                </div>
                <div class="col-md-3">
                  <label for="exampleInputEmail1">Composition</label>
                  <input type="text" class="form-control" id="composition"  placeholder="Composition">
                  <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
                <div class="col-md-3">
                  <label for="exampleInputPassword1">Manufacturing Date</label>
                  <input type="date" class="form-control" id="manufacturingDate" >
                </div>
              </div>
            
              <div class="form-group row">
              
                <div class="col-md-3">
                  <label for="exampleInputPassword1">Expire Date</label>
                  <input type="date" class="form-control" id="expireDate" placeholder="Expire Date">
                </div>
           
              
                <div class="col-md-3">
                  <label for="exampleInputEmail1">Packing</label>
                  <input type="number" class="form-control" id="packing"  placeholder="Packing">
                  <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
                <div class="col-md-3">
                  <label for="exampleInputPassword1">Bonus</label>
                  <input type="number" class="form-control" id="bonus" placeholder="Bonus">
                </div>
                <div class="col-md-3">
                  <label for="exampleInputPassword1">Hsn Code</label>
                  <input type="text" class="form-control" id="hsnCode" placeholder="Hsn Code">
                </div>
              </div>

              <div class="form-group row" id="updateDiv">

                <div class="col-md-3">
                  <label for="exampleInputPassword1">Issue Quantity</label>
                  <input type="number" class="form-control" id="issuedQuantity" placeholder="Issue Quantity" value="0">
                </div>

                <div class="col-md-3">
                  <label for="exampleInputPassword1">Status</label>
                  <select class="form-control" id="status">
                    <option selected value="true">Avtive</option>
                    <option value="false">In-Active</option>
                  </select>
                </div>
              </div>
            
            
            
            <div class="form-group row" >
              <!-- <div class="modal-footer"> style="padding-top: 30px; padding-left: 1437px;"-->
              <div class="col-md-3">
                <button type="submit" class="btn btn-sm btn-primary" (click)="submit()" style="align-items: center;">Submit</button>
              </div>
            </div>

          </form>




        </div>


        <!-- <div class="card-footer text-muted">
          2 days ago
        </div> -->
      </div>
<!-- </div> -->

<!-- <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div> -->

   